<p>Data binding works!</p>
<div class="d-flex flex-column gap-3">

    <!-- string interpolation -->
    <!-- <p>{{name}}</p>
    <p>{{lastName}}</p>
    <p>{{city}}</p> -->

    <!-- property binding -->
    <!-- <button [disabled]="isEnable">property</button>
    <button >add User</button> -->

    <!-- Event Binding -->
    <!-- <input type="text" (input)="onInputChange($event)" > -->

    <!-- Two Way Binding -->
    <!-- <input type="text" [(ngModel)]="city"> -->

    <!-- binding-practice -->
    <!-- <div class="bg-light p-4">
        <app-binding-practice></app-binding-practice>
    </div> -->

    <!-- Attribute binding -->
    <div class=" p-4">
        <app-attribute-binding></app-attribute-binding>
    </div>
</div>